'<%=name%> is <%=age%>, and your numbers were <%=num1%>, <%=num2%>, and <%=num3%>.'<br>
'Your numbers total up to <%=sum%>. That is <%=results%> than your age.'<br><br>
<a href='/name'>Start Over</a>